body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 2px 15px;
    border-radius: 10px;
}

button:active {
    border: double 2px black;
}

.search {
    margin: 10px;
    font-weight: bold;
}

#clear {
    display: none;
}

#search {
    width: 50%;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid gray;
    margin: 5px 10px;
}

#pagination .btn-page {
    color: rgb(83, 83, 83);
    margin: 5px;
    padding: 5px 10px;
    background: none;
}

#pagination .btn-page.active {
    color: black;
    font-weight: bold;
    border: solid 2px black;
}

th {
    font-size: larger;
}

td {
    vertical-align: middle;
}

tbody button {
    margin: 4px;
}

#modal-add {
    text-align: center;
    width: 66%;
    min-width: 320px;
    max-width: 600px;
    padding: 25px 30px;
    border-radius: 10px;
}

#modal-add button {
    margin: 20px 10px;
}

form label {
    text-align: start;
    display: block;
    margin: 11px 0;
}

form input {
    width: 100%;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.75);
}
